/**
* Float Layout Activity
**/
* {
  box-sizing: border-box;
 text-align: center; 
}
body{

}

header {
padding: 20px; 
margin-bottom: 20px;
color: #333;
background: #FFA500;
}

#left {
  width:33%;
  color:white;
  background: #30948D;
  margin-top:15px;
}

#right{
  width:10%;
  color:white;
  background: #30948D; 
  margin-top:15px;
}

#middle{
 width:33%;
 color:white;
background: #9E1212; 
margin-top:15px;
}
 
#full {
  width:100%;
  color:white;
  background:#394549;
  margin-top:15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#division {
  width:100%;
  color:white;
  background:#6ea3da;
}

 aside {
   width:33%;
   color:white;
   background:#a6b747;
   padding-left: 15px;
   padding-right:15px;
   float: left;
 }

 footer {
   width:100%;
   color:white;
   background:#FFA500;
  margin-top:15px;
 }




