/**
 * Float Layout Activity
 **/

 * {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {
  background-color: #666;
}

#middle {
}

#right {
}

#full {
}

#division {
}

aside {
}

footer {
}