/**
 * Absolute Position: anchors element to the first element (overall box)
 **/

.box-set {
   
  height: 400px;
  background: yellow;

}

.box {
  /* Absolute Position */
  position: absolute;
  width: 150px;
  height: 150px;
  background: #2db34a;
  border: 2px solid black;
}

/* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */

.box-1 {
  /* top: 6%; */
  /* left: 50px; */
  z-index: 10px;
}

.box-2 {
  position: relative;
  /* top: 100px; */
  /* right: 70px; */
  z-index: 8px;
}

.box-3 {
  /* right: 100%x; */
  /* bottom: -10px; */
  z-index:150px;
}

.box-4 {
  /* bottom: 0; */
  /* right:30px; */
  z-index:18px; 
}
